<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word | Kevin Stradtman</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'random_word_generator/css/app.css' %}">
</head>
<body>
    

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-4 text-center">
                <div class="outter-cont mt-5">
                    <p class="random-attempt">Random Word (attempt #{{request.session.counter}})</p>
                    <div class="inner-cont text-center">
                        <p>{{random}}</p>
                    </div>
                    <a href="/" class="btn btn-primary">Refresh</a>
                    <a href="/random_word/reset" class="btn btn-danger">Reset</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>